<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="accountselection">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3> Account Selection </h3>
                </div>
                <div class="card-body ">
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">1705541617319936 </input>
                        </label>
                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>