<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
        <div class="black">
            <div class="container ">
                <h3 class="margin-top-bottom text-center">The Digital Bank for Tommorow</h3>
            </div>
        </div>
        <div class="light-black">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 margin-top-bottom">
                        <h4 class="text-uppercase font-weight-bold">Connect with us</h4>
                        <div >
                            <a href="#"><i class="fa fa-linkedin-square fa-icon"></i></a>
                            <a href="#"><i class="fa fa-twitter-square fa-icon"></i></a>
                            <a href="#"><i class="fa fa-skype fa-icon"></i></a>
                            <a href="#"><i class="fa fa-facebook-square fa-icon"></i></a>
                            <a href="#"><i class="fa fa-github-square fa-icon"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-top-bottom">
                        <h4 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h4>
                        <div >
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Service Request</a>
                                </li>
                                <li>
                                    <a href="#!">Contact us</a>
                                </li>
                                <li>
                                    <a href="#!">Offers</a>
                                </li>
                                <li>
                                    <a href="#!">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-top-bottom">
                        <div class="row pull-right">
                            <img src="https://dummyimage.com/250x100/2f2f2f/ffffff.png&amp;text=Digi+Bank" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white text-dark">
            <div class="container">
                <footer>
                    <div class="footer-copyright text-center py-3">Copyright &copy;2018 by The Open Digital Group </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                </footer>

            </div>
        </div>
    </div>

</body>
</html>