<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Digi Bank Consent </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

    <div class="red">
        <div class="container">
            <h1 class="margin-top-bottom"><span class="italic">2FA Token</span><div>VERIFICATION</div></h1>
        </div>
    </div>

<div class="container">
    <div class="margin-top-bottom confirm">
        <h1 class="margin-top-bottom">Enter 2FA Token Secret</h1>
        <p>Below Payment Transaction for which 2FA Token secret is required</p>
        <div th:replace="fragments/payment_transaction :: transaction"/>
        <div class="row col-md-6 mx-auto">
            <form role="form" action="../secure/two_factor_authentication" method="post">
                <fieldset class="col-xs-6 col-sm-6 col-md-6">
                    <h3>Token Code</h3>
                    <div class="form-group">
                        <input type="password" name="secret" id="secret" class="form-control input-lg"
                               placeholder="Secret" required="true" autofocus="true"/>
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block red" value="Proceed"/>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>

